@import colors

.title--section
    position: relative
    justify-content: center
    border-radius: 32px
    gap: 0
    box-sizing: border-box
    height: 832px
    max-width: 1440px

    button
        padding: 24px 48px
        border-radius: 12px

.button--bar
    align-items: center

.title--section .video--div
    position: absolute
    object-fit: cover
    height: 100%
    width: 100%
    z-index: -1
    border-radius: 32px
    top: 0
    left: 60px
    max-width: 1320px

.title--section .hero--banner
    max-width: 624px
    padding: 48px
    border-radius: 0 32px 32px 0
    background: $bg--primary
    margin: 80px 0

.dot
    width: 8px
    height: 8px
    background: $accent--label
    border-radius: 6px